{% for user in guacamole_admin_users %}
-- Create user entry
INSERT INTO guacamole_entity (name, type) VALUES ('{{ user }}', 'USER');
INSERT INTO guacamole_user (entity_id, password_hash, password_salt, password_date)
SELECT
    entity_id,
    x'{{ lookup('password', '/dev/null length=36') | hash('sha256') | upper }}',
    x'{{ lookup('password', '/dev/null length=36') | hash('sha256') | upper }}',
    NOW()
FROM guacamole_entity WHERE name = '{{ user }}';
-- Grant this user all system permissions
INSERT INTO guacamole_system_permission (entity_id, permission)
SELECT entity_id, permission
FROM (
          SELECT '{{ user }}'  AS username, 'CREATE_CONNECTION'       AS permission
    UNION SELECT '{{ user }}'  AS username, 'CREATE_CONNECTION_GROUP' AS permission
    UNION SELECT '{{ user }}'  AS username, 'CREATE_SHARING_PROFILE'  AS permission
    UNION SELECT '{{ user }}'  AS username, 'CREATE_USER'             AS permission
    UNION SELECT '{{ user }}'  AS username, 'CREATE_USER_GROUP'       AS permission
    UNION SELECT '{{ user }}'  AS username, 'ADMINISTER'              AS permission
) permissions
JOIN guacamole_entity ON permissions.username = guacamole_entity.name AND guacamole_entity.type = 'USER';

-- Grant admin permission to read/update/administer self
INSERT INTO guacamole_user_permission (entity_id, affected_user_id, permission)
SELECT guacamole_entity.entity_id, guacamole_user.user_id, permission
FROM (
          SELECT '{{ user }}' AS username, '{{ user }}' AS affected_username, 'READ'       AS permission
    UNION SELECT '{{ user }}' AS username, '{{ user }}' AS affected_username, 'UPDATE'     AS permission
    UNION SELECT '{{ user }}' AS username, '{{ user }}' AS affected_username, 'ADMINISTER' AS permission
) permissions
JOIN guacamole_entity          ON permissions.username = guacamole_entity.name AND guacamole_entity.type = 'USER'
JOIN guacamole_entity affected ON permissions.affected_username = affected.name AND guacamole_entity.type = 'USER'
JOIN guacamole_user            ON guacamole_user.entity_id = affected.entity_id;
{% endfor %}
